<div class="con-bot">
    <div class="left">
        <div class="bot-left">
            <img src="~/web/images/pic.jpg" alt="" />
        </div>
        <div class="left-text">
            <h4>Hollandaya Veda Ederken</h4>
            <span class="doller">15.08.2021</span>
            <p>Hollanda da geçirilen güzel günlerin ardından veda vakti geldi</p>
            <p><a href="#"><span class="read">Devamını Oku >></span></a></p>
        </div>
    </div>
    <div class="left">
        <div class="bot-left">
            <img src="~/web/images/pic1.jpg" alt="" />
        </div>
        <div class="left-text">
            <h4>Rotterdamda Vapur Seyahati</h4>
            <span class="doller">15.08.2021</span>
            <p>Vapur seyahatine çıkmaya ne dersiniz? Yolculuğunuzu keyifli hale getirin.</p>
            <p><a href="#"><span class="read">Devamını Oku >></span></a></p>
        </div>
    </div>
    <div class="right">
        <div class="bot-left">
            <img src="~/web/images/pic2.jpg" alt="" />
        </div>
        <div class="left-text">

            <h4>Hayaller Şehri Roma</h4>
            <span class="doller">15.08.2021</span>
            <p>Tarih ve sanat kokulu şehir Romada hayaller alemine dalın.</p>
            <p><a href="#"><span class="read">Devamını Oku >></span></a></p>
        </div>
    </div>
    <div class="clear"></div>
</div>